<%-include("top.ejs")%>
    <p>Lista de veiculos</p>

    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <td>Tipo</td>
          <td>Marca</td>
          <td>Modelo</td>
          <td>Ano</td>
          <td>Preco</td>
          <td>KM</td>
          <td>Acoes</td>
          
        </tr>
      </thead>
      <tbody>
        <%
        veiculo.forEach(item => {
          %>
      <tr> 
        <td><a href="/veiculos/edit/<%= item._id%>" title="Editar"><%= item.tipo %></a></td>
        <td><%= item.marca %></td>
        <td><%= item.modelo %></td>
        <td><%= item.ano %></td>
        <td><%= item.preco %></td>
        <td><%= item.km %></td>
        <td>
            <a href="/veiculos/edit/<%= item._id%>">
              <img src="/images/edit.png" alt="icone de botao para editar item" title="Editar">
            </a>

            <a href="/veiculos/delete/<%= item._id%>" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esse veiculo?')" >
              <img src="/images/delete.png" alt="icone de botao para excluir item" title="Excluir">
            </a>
            
        </td>
        
      </tr>

          <%          
        })
      %>

      </tbody>
    </table>

    <a href="/veiculos/new" class="btn btn-primary" >Cadastrar cliente</a>

  </body>
</html>
