<%-include("top.ejs")%>
    <p>Lista de veiculos</p>
    <div class="alert alert-info">Quantidade de veículos: <%= qty %> </div>

    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <td>Tipo</td>
          <td>Marca</td>
          <td>Modelo</td>
          <td>Ano</td>
          <td>Preco</td>
          <td>KM</td>
          <td>Opcionais</td>
          <td>Cambio</td>
          <td>Acoes</td>
        </tr>
      </thead>
      <tbody>
        <%
        veiculos.forEach(item => {
          %>
      <tr>
        <td><a href="/veiculos/edit/<%= item._id%>" title="Editar"><%= item.tipo %></a></td>
        <td><%= item.marca %></td>
        <td><%= item.modelo %></td>
        <td><%= item.ano %></td>
        <td><%= item.preco %></td>
        <td><%= item.km %></td>
        <td><%= item.opcionais %></td>
        <td><%= item.cambio %></td>
        <td>
            <a href="/veiculos/edit/<%= item._id%>">
              <img src="/images/edit.png" alt="icone de botao para editar item" title="Editar">
            </a>

            <a href="/veiculos/delete/<%= item._id%>" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esse veiculo?')" >
              <img src="/images/delete.png" alt="icone de botao para excluir item" title="Excluir">
            </a>

        </td>

      </tr>

      <input type="hidden" value="<%= item.id%>" >

          <%
        })
      %>

      </tbody>
    </table>   
        
       
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
        <li class="page-item">
          <a class="page-link" href="/veiculos?pages=<%= pagesQty -1%>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for(let i=1; i <= pagesQty; i++) {
            if (page === i) { %>
              <li class="page-item ">
                <a class="page-link active" href="/veiculos?pages=<%= i %>"><%= i%></a>
              </li>
              <%
            } else {
              %>
              <li class="page-item ">
                <a class="page-link" href="/veiculos?pages=<%= i %>"><%= i%></a>
              </li>
             
        <% } } %>

        <li class="page-item">       
          <a class="page-link" href="/veiculos?pages=<%= pagesQty + 1 %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>


    <section class="container">
      
      <div class="row">

        <div class="col-2">
          <a href="/veiculos/new" class="btn btn-primary" >Cadastrar Cliente</a>
        </div>

        <div class="col-2">
          <a href="/index" class="btn btn-secondary" >Voltar</a>
        </div>

        <div class="col-2">
          <form action="/logout" method="POST">
            <input type="submit" value="Logout" class="btn btn-secondary" >
          </form>
        </div>
      </div>

    </section>

    <script>

    </script>

  </body>
</html>
